@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0f172a;

}

.clipped-component {
    clip-path: polygon(66% 0, 101% 0 , 100% 101%, 50% 100%);
  }

.drop-shadow-clipped {
    filter: drop-shadow(-5px 0 10px rgba(0, 0, 0, 0.5));
}

.text-shadow
{
    text-shadow: black 0px 0 0px;
}

.text-shadow:hover
{
    text-shadow: black 1px 0 10px;
}
