@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #292929;
}

.clipped-component {
    clip-path: polygon(66% 0, 101% 0 , 100% 101%, 50% 100%);
  }

.drop-shadow-clipped {
    filter: drop-shadow(-5px 0 10px rgba(0, 0, 0, 0.5));
}
